@import '../fonts/switzer/css/switzer.css';
@import '../fonts/roboto/roboto.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.brands-slider{
    animation: scrollX 15s linear infinite;
}

@keyframes scrollX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-65%);
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.swiper-slide{
    @apply opacity-50;
    transform: scale(.8) !important;
    transition: opacity 150ms , transform 150ms !important;
}

.swiper-slide-active{
    @apply opacity-100;
    transform: scale(1) !important ;
}

*{
    @apply cursor-none !important;
}